@charset "UTF8";

@font-face {
    font-family: 'caligrafia';
    src: url(fontes/caligrafia.ttf) format(truetype);
}

:root{
    --titulos: 'caligrafia';
    --paragrafos: Arial, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, #025B18, #1F8F3B, #62C87B, #98F5AF);
    margin: 0px;

    scroll-behavior: smooth;
}

header{
    position: sticky; /*grudavel*/
    top: -1px;
    background-color: #98F5AF;
    padding: 5px;
    height: 150%;
    box-shadow: 0px 0px 10px black;

    display: flex;
    justify-content: space-between;

}
header #logo img{
    width: 95px; height: 95px;
    margin-left: 30px;
    margin-top: 5px;
}

header #menuResponsivo{
    display: none;
}
header .menu .menu-opcao {
    display: inline-block;
}
.effect {
    transition: .5s;
}
header .menu a{
    text-decoration: none;
    font: 600 1.4em var(--titulos);
    color: black;
    margin-top: 30px;
    margin-right: 40px;
}
header .menu a:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.795);
}

header .sociais img{
    width: 35px; height: 35px;
    margin-top: 30px;
}


main{
    margin: 0px 50px;
    border: 1px solid black;
    padding: 3px;
    background-color: white;

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    font: 600 1.5em var(--titulos);
    background-image: linear-gradient(to right, #1F8F3B, #62C87B, white);
}
main h2{
    font: 600 1.4em var(--titulos);
    background-image: linear-gradient(to right, #62C87B, white);
}
main p{
    font: 100 1em var(--paragrafos);
}
main #primeiraimagem img{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main #primeiraimagemResponsivo img{
    display: none;
}


main #texto1{
    padding: 20px 50px;
    margin: 10px;
    border-radius: 10px;
}
main .unidades{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 50px 10px 50px;
}
main .unidades img{
    width: 25px;
}
main .unidades h1{
    padding-bottom: 10px;
    text-align: center;
}
main .unidades p{
    width: 350px;
    padding: 5px;
}

main #serviços{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 50px 10px 50px;
}
main #serviços h1{
    padding-bottom: 10px;
    text-align: center;
}
main #serviços p{
    width: 350px;
    padding: 5px;
}


main #texto2{
    margin: 10px;
    background-color: #62C87B;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;

    display: block;
    columns: 2;
}
main #texto2-1 img{
    width: 130px; 
    padding-top: 20px;
}
main #texto2-1 h1{
    padding-top: 10px;
    text-align: left;
}
main #texto2-1 p{
    width: 420px;
    padding-top: 20px;
}


main #texto3{
    padding: 50px 40px;
}
main #texto3 h1{
    text-align: center;
}
main #saude{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 50px 10px 50px;
}
main #saude img{
    width: 150px;
}
main #saude h1{
    padding-top: 10px;
    text-align: center;
}
main #saude p{
    width: 350px;
    padding-top: 20px;
}



main #texto4{
    margin: 10px;
    background-color: #62C87B;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
}
main #texto4 h1{
    text-align: center;
}
main #cuidados{
    display: block;
    columns: 2;
    width: 900px;
}
main #cuidados img{
    width: 130px; 
    padding-top: 20px;
}
main #texto4 #cuidados h1{
    padding-top: 10px;
    text-align: left;
}
main #cuidados p{
    width: 420px;
    padding-top: 20px;
}


main #texto5{
    padding: 50px 50px;
}
main #texto5 h1{
    text-align: center;
    font: 600 1.5em var(--titulos);
}
main #especialistas{
    display: block;
    columns: 2;
    margin: 10px;
    padding: 20px;
}
main #texto5 #especialistas p{
    width: 400px;
}
main #texto5 #especialistas ul{
    margin-left: 25%;
    margin-top: 20px;
    font: 100 1em var(--paragrafos);
}
main #texto5 p{
    padding: 20px 30px;
}


main #texto6{
    margin: 10px;
    background-color: #62C87B;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
}
main #texto6 h1{
    text-align: center;
}
main #carteirinha{
    display: block;
    columns: 2;
    text-align: center;
}
main #carteirinha p{
    width: 370px;
    padding-top: 10%;
    padding-left: 30%;
    text-align: left;
}
main #carteirinha img{
    width: 150px; 
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    transform: rotate(10deg);
}


aside{
    background-color: #98F5AF;
    padding-bottom: 30px;  

}
aside #contatos{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 20px 50px;
}
aside #contatos #logo img{
    width: 110px; height: 110px;
    margin-top: 40%;
    margin-left: 140%;
}

aside #contatos .unidades{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
}
aside #contatos .unidades h1{
    font: 600 1.4em var(--titulos);
    padding-bottom: 10px;
    text-align: center;
}
aside #contatos .unidades p{
    font: 100 0.9em var(--paragrafos);
    width: 300px;
    padding: 5px;
    text-align: center;
}
aside #contatos .unidades img{
    width: 25px; height: 25px;
}

aside #contatos .sociais{
    margin-right: 90px;
    margin-top: 60px;
}
aside #contatos .sociais h1{
    font: 600 1em var(--titulos);
    margin-left: -20px;
}
aside #contatos .sociais img{
    width: 35px; height: 35px;
    margin-top: 10px;
}
aside #contatos .sociais a{
    display: inline-flex;
}


aside .scroll-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
}
#botao-top {
    cursor: pointer;
}

footer{
    padding: 10px;
    background-color: #62C87B;
}
footer p{
    text-align: center;
    color: black;
}