@charset "UTF8";

@font-face {
    font-family: 'caligrafia2';
    src: url(../fonts/Cream\ Cake.otf) format(opentype);
}

:root{
    --titulos: 'caligrafia2';
    --paragrafos: Arial, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, #025B18, #1F8F3B, #62C87B, #98F5AF);
    margin: 0px;

    scroll-behavior: smooth;
}

header{
    position: sticky; /*grudavel*/
    top: -1px;
    background-color: #98F5AF;
    padding: 5px;
    height: 150%;
    box-shadow: 0px 0px 10px black;

    display: flex;
    justify-content: space-between;

}
header #logo img{
    width: 95px; height: 95px;
    margin: 5px 0px 0px 30px;
}

header #menuResponsivo{
    display: none;
}
header .menu .menu-opcao {
    display: inline-block;
}
.effect {
    transition: .5s;
}
header .menu a{
    text-decoration: none;
    font: 100 2.5em var(--titulos);
    color: black;
    margin: 30px 40px 0px 0px;
}
header .menu a:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.795);
}

header .sociais img{
    width: 35px; height: 35px;
    margin-top: 30px;
}


main{
    background-color: white;
    text-align: center;

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 3px;

    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    font: 100 2.5em var(--titulos);
    background-image: linear-gradient(to right, #62C87B, white);
}
main h2{
    font: 100 2em var(--titulos);
    background-image: linear-gradient(to right, #62C87B, white);
}
main p{
    font: 100 1em var(--paragrafos);
}
main ul li{
    font: 100 1em var(--paragrafos);
}
main #primeiraimagem img{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main #primeiraimagemResponsivo img{
    display: none;
}


main #texto1{
    box-sizing: content-box; 
    width: 97.5%;
    margin: 10px;    
}
main .unidades{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 50px 10px 50px;

    box-sizing: border-box; 
    width: 90%;
}
main .unidades img{
    width: 25px;
}
main .unidades p{
    width: 100%;
    padding: 5px;
}

main #serviços{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 50px 10px 50px;

    box-sizing: border-box; 
    width: 90%;
}
main #serviços p{
    width: 100%;
    padding: 5px;
}


main #texto2{
    background-color: #62C87B;
    text-align: left;
    
    box-sizing: content-box;
    width: 97.5%;    /*alinhar a borda de fora*/
    margin: 10px;
}
main #texto2-1{
    box-sizing: border-box;
    width: 100%;    /*alinhar a borda de fora*/
    padding: 20px;

    display: block;
    columns: 2;
}
main #texto2-1 img{
    width: 130px; 
}
main #texto2-1 h2{
    width: 70%;
}
main #texto2-1 p{
    width: 100%;
    padding-top: 20px;
}


main #texto3{
    box-sizing: content-box; 
    width: 97.5%;
    margin: 10px;
    text-align: center;
}
main #texto3 h1{
    margin-top: 20px;
}
main #saude{
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
main #saude img{
    width: 140px;
    padding-top: 10px;
}
main #saude h2{
    margin: 5px;
    border: 2px solid red;
}
main #saude h3{
    padding: 200px 20px 0px;
}
main #saude p{
    width: 100%;
    padding: 20px 0px;
}



main #texto4{
    background-color: #62C87B;
    text-align: left;
    
    box-sizing: content-box;
    width: 97.5%;    /*alinhar a borda de fora*/
    margin: 10px;
}
main #texto4 h1{
    text-align: center;
}
main #cuidados{
    background-color: #62C87B;
    
    box-sizing: border-box;
    width: 100%;    /*alinhar a borda de fora*/
    padding: 20px;
    
    display: block;
    columns: 2;
}
main #cuidados img{
    width: 130px; 
    padding-top: 20px;
}
main #texto4 #cuidados h2{
    width: 70%;
}
main #cuidados p{
    width: 95%;
    padding-top: 10px;
}


main #texto5{
    box-sizing: content-box; 
    width: 97.5%;
    margin: 10px;
}
main #texto5 h1{
    text-align: center;
}
main #especialistas{
    display: block;
    columns: 2;
    margin: 10px;
    padding: 10px;
}
main #texto5 #especialistas p{
    width: 100%;
}
main #texto5 #especialistas ul{
    list-style-position: inside; /*deixar a lista organizada*/
    margin-top: 20px;
}
main #texto5 p{
    padding: 20px 30px;
}
main #texto5 #p1{
    padding: 0%;
    margin: -10px 10px 0px;
}
main #texto5 #p2{
    padding-top: 0px;
}


main #texto6{
    background-color: #62C87B;
    text-align: center;
    
    box-sizing: content-box;
    width: 97.5%;    /*alinhar a borda de fora*/
    margin: 10px;
}
main #carteirinha{
    display: block;
    columns: 2;
    text-align: center;
}
main #carteirinha p{
    width: 100%;
    padding: 10% 20% 10%;
    text-align: left;
}
main #carteirinha img{
    width: 300px; 
    margin-top: 25px;
    padding-left: 10%;
}


aside{
    background-color: #98F5AF;

    box-sizing: content-box; 
    width: 100%;
}
aside h2{
    font: 100 2em var(--titulos);
    background-image: linear-gradient(to right, #62C87B, white);
}
aside #contatos{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    
    box-sizing: border-box;
    width: 95%;
}
aside #contatos #logo img{
    width: 110px; height: 110px;
    margin-top: 20%;
    padding: 20px;
}

aside #contatos .unidades{
    display: flex;
    justify-content: space-between;
    text-align: center;

    box-sizing: border-box;
}
aside #contatos .unidades div{
    padding: 10px 40px;
}
aside #contatos .unidades p{
    font: 100 0.9em var(--paragrafos);
    width: 100%;
    padding: 5px;
    text-align: center;
}
aside #contatos .unidades img{
    width: 25px; 
    height: 25px;
}

aside #contatos .sociais{
    box-sizing: border-box;
    text-align: center;
    padding-top: 5%;
    padding: 15px;
}
aside #contatos .sociais h1{
    font-family: var(--titulos);
    font: 100;
}
aside #contatos .sociais img{
    width: 35px; height: 35px;
    padding-top: 10px;
}
aside #contatos .sociais a{
    display: inline-flex;
}


aside .scroll-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
}
#botao-top {
    cursor: pointer;
}

footer{
    padding: 10px;
    background-color: #62C87B;
}
footer p{
    text-align: center;
    color: black;
}