@charset "UTF8";


@font-face {
    font-family: 'caligrafia2';
    src: url(../fonts/Cream\ Cake.otf) format(opentype);
}

:root{
    --titulos: 'caligrafia2';
    --paragrafos: Arial, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, #025B18, #1F8F3B, #62C87B, #98F5AF);
    margin: 0px;

    scroll-behavior: smooth;
}

header{
    position: sticky; /*grudavel*/
    top: -1px;
    background-color: #98F5AF;
    padding: 5px;
    height: 150%;
    box-shadow: 0px 0px 10px black;
}
header #principal{
    display: flex;
    justify-content: space-between;
}
header #logo img{
    width: 95px; height: 95px;
    margin: 5px 0px 0px 30px;
}

header #menuResponsivo{
    display: none;
}
header .menu .menu-opcao {
    display: inline-block;
}
.effect {
    transition: .5s;
}
header .menu a{
    text-decoration: none;
    font: 100 2.5em var(--titulos);
    color: black;
    margin: 30px 40px 0px 0px;
}
header .menu a:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.795);
}

header .sociais img{
    width: 35px; height: 35px;
    margin-top: 30px;
}

header #menuResponsivo{
    display: none;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 3px;


    background-color: white;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .primeiraimagem img{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main .primeiraimagem h1{
    position: absolute;
    font: 100 3.5em var(--titulos);
    text-align: left;
    color: #98F5AF;
    left: 250px;
    top: 200px;
}
main .primeiraimagem #home h1{ /*Esse é do site principal blog-pets  -  HOME*/
    position: absolute;
    font: 100 3em var(--titulos);
    text-decoration: underline;
    color: #98F5AF;
    left: 200px;
    top: 350px;
}

main .primeiraimagem #nome{ /*Esse é dos proximos blogs  -  NOME PRINCIPAL*/
    position: absolute;
    font: 100 3em var(--titulos);
    text-align: left;
    color: #98F5AF;
    left: 200px;
    top: 200px;
}
main .primeiraimagem #opc1 h2{ /*Esse é dos proximos blogs  -  HOME*/
    position: absolute;
    font: 100 2.5em var(--titulos);
    color: #98F5AF;
    left: 190px;
    top: 350px;
}
main .primeiraimagem #opc2 h2{ /*Esse é dos proximos blogs   - BLOGS*/
    position: absolute;
    font: 100 2.5em var(--titulos);
    color: #98F5AF;
    left: 280px;
    top: 350px;
}

main .blogTextos{                  /*Esse é do site principal blog-pets (FIXO)*/
    display: flex;

    box-sizing: content-box;
    width: 100%;
}
main #texto{      
    background-color: #62C87B;
    border-radius: 20px 1px 40px 1px;

    box-sizing: border-box;
    width: 100%;

    margin: 15px;
    padding: 10px;
}
main #foto{
    width: 450px; height: 250px;
    border-radius: 10px 1px 10px 1px;
}
main #texto h1{
    font: 100 2em var(--titulos);
    background-image: linear-gradient(to right, #62C87B, white);
}
main p{
    font: 100 1em var(--paragrafos);
    padding: 5px;
    padding-top: 10px;
    width: 100%;
}
main #texto a{
    text-decoration: none;
    color: #025B18;
    font: 600 1.1em var(--paragrafos);
}



main #textos{                 /*Esse é dos proximos blogs (FIXO)*/
    background-color: #62C87B;
    border-radius: 10px;
    margin: 0%;
    padding: 0%;
    padding-bottom: 50px;

    box-sizing: content-box;
    width: 99.9%;
}
main #textos div{
    box-sizing: border-box;
    width: 100%;
    
    text-align: center;
}
main #textos img{
    width: 100%;
    border-radius: 10px;
}
main #textos h1{
    font: 100 2.2em var(--titulos);
    padding: 10px;
    padding-top: 20px;
}
main #textos p{
    font: 100 1em var(--paragrafos);
    padding: 10px 20px;
    width: 95.7%;
}


aside{
    background-color: #98F5AF;
    padding: 10px 0px;

    box-sizing: content-box; 
    width: 100%;
}
aside #contatos{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    
    box-sizing: border-box;
    width: 95%;
}
aside #contatos #logo img{
    width: 110px; height: 110px;
    margin-top: 20%;
    padding: 20px;
}

aside #contatos .unidades{
    display: flex;
    justify-content: space-between;
    text-align: center;

    box-sizing: border-box;
}
aside #contatos .unidades div{
    padding: 10px 40px;
}
aside #contatos .unidades h1{
    font: 100 2em var(--titulos);
    background-image: linear-gradient(to right, #62C87B, white);
}
aside #contatos .unidades p{
    font: 100 0.9em var(--paragrafos);
    width: 100%;
    padding: 5px;
    text-align: center;
}
aside #contatos .unidades img{
    width: 25px; 
    height: 25px;
}

aside #contatos .sociais{
    box-sizing: border-box;
    text-align: center;
    padding-top: 5%;
    padding: 15px;
}
aside #contatos .sociais h1{
    font-family: var(--titulos);
}
aside #contatos .sociais img{
    width: 35px; height: 35px;
    padding-top: 10px;
}
aside #contatos .sociais a{
    display: inline-flex;
}


aside .scroll-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
}
#botao-top {
    cursor: pointer;
}


footer{                     /*De todos os sites*/
    padding: 10px;
    background-color: #62C87B;
}
footer p{
    font: 100 0.9em var(--paragrafos);
    text-align: center;
    color: black;
}
