@charset "UTF8";

@font-face {
    font-family: 'caligrafia2';
    src: url(../fonts/Cream\ Cake.otf) format(opentype);
}

:root{
    --titulos: 'caligrafia2';
    --paragrafos: Arial, Verdana, sans-serif;
}

@media all and (min-width: 900px) and (max-width: 1100px) {

    header .menu a{
        font: 100 2em var(--titulos);
    }
}
@media all and (min-width: 800px) and (max-width: 989px) { /*para tablets grandes*/

    body{
        overflow-x: hidden;
    }

    header #logo img{
        width: 85px; height: 85px;
    }
    header .menu a{
        font: 100 2em var(--titulos);
        text-decoration: underline;
        margin-top: 35px;
        margin-right: 5px;
    }
    header .sociais img{
        width: 30px; height: 30px;
        margin-top: 30px;
    }


    



    aside #contatos #logo img{
        display: none;
    }
    aside #contatos .sociais{
        padding: 0%;
        padding-top: 5%;
        width: 15%;
        text-align: center;
    }
    aside #contatos .sociais img{
        width: 30px; height: 30px;
    }

    .scroll-top {
        right: 10px;
    }

}

@media all and (min-width: 530px) and (max-width: 799px) { /*para tablets pqnos*/

    body{
        overflow-x: hidden;
    }
    header .menu a{
        text-decoration: underline;
        color: black;
        margin-top: 30px;
        margin-right: 5px;
    }
    header .menu a:hover{
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.795);
    }
    header .sociais img{
        width: 35px; height: 35px;
        margin-top: 30px;
    }







    aside #contatos #logo img{
        display: none;
    }
    aside #contatos .unidades div{
        padding: 10px 10px;
    }
    aside h2{
        font: 100 1.9em var(--titulos);
    }
    aside #contatos .unidades p{
        width: 100%;
        padding: 5px 10px;
    }
    aside #contatos .sociais{
        padding: 0%;
        padding-top: 8%;
        width: 15%;
        text-align: center;
    }
    aside #contatos .sociais h1{
        display: none;
    }
    aside #contatos .sociais img{
        width: 30px; height: 30px;
    }

}

@media all and (min-width: 320px ) and (max-width: 529px) { /*para celular*/

    body{
        overflow-x: hidden;
    }

    header #logo img{
        width: 70px; height: 70px;
    }
    header .menu{
        display: none;
    }
    header .sociais img{
        display: none;
    }
    header #menuResponsivo{
        display: block;
    }
    header #menuResponsivo img{
        width: 30px; height: 30px;
        cursor: pointer;
        margin-top: 20px;
        margin-right: 20px;
    }
    header #menuResponsivo #menu{
        display: none;
    }
    header #menuResponsivo:hover #menu{
        display: block;
        position: absolute;

        background-color: #025B18;
        height: 150px; width: 130px;
        margin-top: 0%;
        margin-left: -20%;
        text-align: center;
    }
    #menu a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-top: 10px;
        font: 100 0.9em var(--paragrafos);
        color: white;
    }
    #menu a:hover{
        text-decoration: underline;
    }








    aside #contatos{
        margin: 10px;
        width: 95%;
    }
    aside #contatos .unidades{
        display: inline;
        text-align: center;

        box-sizing: border-box;
        width: 100%;   /*alinhar a div de dentro*/
        padding: 0%;
    } 
    aside #contatos #logo img{
        display: none;
    }
       
    aside #contatos .unidades div{
        margin: 0%;
        padding: 0%;
        padding-top: 15px;
    }   
    aside #contatos .unidades img{
        width: 20px; height: 20px;
    }
    aside #contatos .unidades h2{
        text-align: center;
        padding-top: 0px;
        margin-bottom: 5px;
    }

    aside #contatos .sociais{
        display: none;
    }

    aside .scroll-top{
        display: none;
        margin-right: 5px;

    }
    .scroll-top img{
        width: 40px;
    }
}