@charset "UTF8";

@font-face {
    font-family: 'caligrafia2';
    src: url(../fonts/Cream\ Cake.otf) format(opentype);
}

:root{
    --titulos: 'caligrafia2';
    --paragrafos: Arial, Verdana, sans-serif;
}

@media all and (min-width: 900px) and (max-width: 1100px) {

    header .menu a{
        font: 100 2em var(--titulos);
    }
}
@media all and (min-width: 800px) and (max-width: 989px) { /*para tablets grandes*/

    body{
        overflow-x: hidden;
    }

    header #logo img{
        width: 85px; height: 85px;
    }
    header .menu a{
        font: 100 2em var(--titulos);
        text-decoration: underline;
        margin-top: 35px;
        margin-right: 5px;
    }
    header .sociais img{
        width: 30px; height: 30px;
        margin-top: 30px;
    }

    #texto3 #saude h3{
        margin: 0%;
    }
    #texto4 #cuidados h2{
        width: 55%;
    }
    #cuidados img{
        width: 120px; 
    }

    aside #contatos #logo img{
        display: none;
    }
    aside #contatos .sociais{
        padding: 0%;
        padding-top: 5%;
        width: 15%;
        text-align: center;
    }
    aside #contatos .sociais img{
        width: 30px; height: 30px;
    }

    .scroll-top {
        right: 10px;
    }

}

@media all and (min-width: 530px) and (max-width: 799px) { /*para tablets pqnos*/

    body{
        overflow-x: hidden;
    }

    header #logo img{
        width: 95px; height: 95px;
    }
    header .menu{
        display: none;
    }
    header .sociais img{
        display: none;
    }
    header #menuResponsivo{
        display: block;
    }
    header #menuResponsivo img{
        width: 30px; height: 30px;
        cursor: pointer;
        margin-top: 35px;
        margin-right: 20px;
    }
    header #menuResponsivo #menu{
        display: none;
    }
    header #menuResponsivo:hover #menu{
        display: block;
        position: absolute;

        background-color: #025B18;
        height: 115px; width: 120px;
        margin-top: 0%;
        margin-left: -11%;
        text-align: center;
    }
    #menu a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-top: 8px;
        font: 100 0.9em var(--paragrafos);
        color: white;
    }
    #menu a:hover{
        text-decoration: underline;
    }
    

    main h1{
        font: 100 2em var(--titulos);
        background-image: linear-gradient(to right, #1F8F3B, #62C87B, white);
    }
    main h2{
        font: 100 1.8em var(--titulos);
        background-image: linear-gradient(to right, #62C87B, white);
    }
    main p{
        font: 100 1em var(--paragrafos);
    }
    main #primeiraimagem img{
        display: none;
    }
    main #primeiraimagemResponsivo img{
        display: block;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #texto1 .unidades{
        box-sizing: border-box;
        width: 100%; 
        padding: 10px;
    }
    #texto1 .unidades img{
        width: 20px;
    }
    #texto1 #serviços{
        padding: 20px 20px;
    }

    #texto2{
        width: 98%;
    }
    #texto2 img{
        width: 120px; 
    }

    #texto3 #saude img{
        width: 130px;
        padding: 20px 10px;
    }

    #texto4 #cuidados img{
        width: 120px;
    }

    #texto5 ul{
        padding-top: 20px;
    }

    #texto6 #carteirinha p{
        padding-left: 20%;
    }
    #texto6 #carteirinha img{
        width: 210px; 
        padding-left: 20%;
    }

    aside #contatos #logo img{
        display: none;
    }
    aside #contatos .unidades div{
        padding: 10px 10px;
    }
    aside h2{
        font: 100 1.9em var(--titulos);
    }
    aside #contatos .unidades p{
        width: 100%;
        padding: 5px 10px;
    }
    aside #contatos .sociais{
        padding: 0%;
        padding-top: 8%;
        width: 15%;
        text-align: center;
    }
    aside #contatos .sociais h1{
        display: none;
    }
    aside #contatos .sociais img{
        width: 30px; height: 30px;
    }
}

@media all and (min-width: 320px ) and (max-width: 529px) { /*para celular*/

    body{
        overflow-x: hidden;
    }

    header #logo img{
        width: 70px; height: 70px;
    }
    header .menu{
        display: none;
    }
    header .sociais img{
        display: none;
    }
    header #menuResponsivo{
        display: block;
    }
    header #menuResponsivo img{
        width: 30px; height: 30px;
        cursor: pointer;
        margin-top: 25px;
        margin-right: 30px;
    }
    header #menuResponsivo #menu{
        display: none;
    }
    header #menuResponsivo:hover #menu{
        display: block;
        position: absolute;

        background-color: #025B18;
        height: 115px; width: 110px;
        margin-top: 0%;
        margin-left: -15%;
        text-align: center;
    }
    #menu a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-top: 8px;
        font: 100 0.9em var(--paragrafos);
        color: white;
    }
    #menu a:hover{
        text-decoration: underline;
    }


    main h1{
        font: 100 2em var(--titulos);
    }
    main h2{
        font: 100 1.9em var(--titulos);
    }
    main h3{
        font: 100 1.9em var(--titulos);
    }
    main p{
        font: 100 1em var(--paragrafos);
    }
    main #primeiraimagem img{
        display: none;
    }
    main #primeiraimagemResponsivo img{
        display: block;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    main #texto1{
        margin: 0%;
        padding: 0%;

        box-sizing: content-box;
        width: 99%;    /*alinhar a borda de fora*/
    }
    main .unidades{
        display: inline-block;
        text-align: center;

        box-sizing: border-box;
        width: 100%;   /*alinhar a div de dentro*/
        padding: 10px;
    }
    main .unidades div{
        margin: 0%;
        padding-top: 15px;
    }
    main .unidades h2{
        text-align: center;
        margin-left: 40px;
        margin-bottom: 5px;
    }
    main .unidades p{
        width: 100%;
    }
    main #serviços{
        display: inline-block;
        text-align: center;

        box-sizing: border-box;
        width: 100%;   /*alinhar a div de dentro*/
        padding: 10px;
    }
    main #serviços div{
        margin: 0%;
        padding-top: 15px;
    }
    main #serviços h2{
        text-align: center;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    main #serviços p{
        width: 100%;
    }
    
    
    main #texto2{
        margin: -5.5%;
        margin-top: 20px;
        padding: 0%;
        padding: 0px 20px;

        box-sizing: content-box;
        width: 100%;    /*alinhar a borda de fora*/
    }
    main #texto2-1{
        display: inline-block;
        columns: 1;

        box-sizing: border-box;
        width: 99%;  /*alinhar a div de dentro*/
    }
    main #texto2-1 p{
        text-align: center;
    }

    main #texto3{
        margin: 0%;
        margin-top: 10%;
        padding: 0%;

        box-sizing: content-box;
        width: 99%;    /*alinhar a borda de fora*/
    }
    main #texto3 h1{
        margin: 0px 10px;
    }
    main #saude{
        display: inline-block;
    }
    main #saude img{
        width: 100px;
    }
    main #saude h2{
        margin: 10px;
    }
    main #saude h3{
        padding: 2%;
    }

    main #texto4{
        margin: -5.6%;
        margin-top: 20px;
        padding: 0%;
        padding: 15px 20px;
    }
    main #texto4 h1{
        margin: 0px 10px;
    }
    main #texto4 h2{
        margin-top: 5px;
    }
    main #cuidados{
        display: inline-block;
        text-align: left;
        columns: 1;

        box-sizing: border-box;
        width: 104%;    /*alinhar a div de dentro*/
        padding: 10px 15px;
    }
    main #cuidados p{
        text-align: center;
    }

    
    main #texto5{
        margin: 0%;
        margin: 10% 0px;
        padding: 0%;

        box-sizing: content-box;
        width: 99%;    /*alinhar a borda de fora*/
    }
    main #texto5 h1{
        margin: 0px 10px;
    }
    main #especialistas{
        margin: 10px;
        display: inline;
        width: 100%;
    }
    main #texto5 #especialistas p{
        width: 90%;
    }
    main #texto5 #especialistas ul{
        margin-top: 10px;
    }
    main #texto5 p{
        padding: 0px 30px;
    }
    main #texto5 #p2{
        padding: 10px 30px;
    }


    main #texto6{
        margin: -5.6%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0%;
        padding: 15px 20px;
    }
    main #carteirinha{
        display: flex;
    }
    main #carteirinha p{
        width: 100%;
        padding: 0%;
        padding: 10px;
        text-align: center;
    }
    main #carteirinha img{
        display: none;
    }


    aside #contatos{
        margin: 10px;
        width: 95%;
    }
    aside #contatos .unidades{
        display: inline;
        text-align: center;

        box-sizing: border-box;
        width: 100%;   /*alinhar a div de dentro*/
        padding: 0%;
    } 
    aside #contatos #logo img{
        display: none;
    }
       
    aside #contatos .unidades div{
        margin: 0%;
        padding: 0%;
        padding-top: 15px;
    }   
    aside #contatos .unidades img{
        width: 20px; height: 20px;
    }
    aside #contatos .unidades h2{
        text-align: center;
        padding-top: 0px;
        margin-bottom: 5px;
    }

    aside #contatos .sociais{
        display: none;
    }

    /*aside .scroll-top{
        display: none;
        margin-right: 5px;

    }
    .scroll-top img{
        width: 40px;
    }*/
}