@charset "UTF8";

@font-face {
    font-family: 'caligrafia2';
    src: url(../fonts/Cream\ Cake.otf) format(opentype);
}

:root{
    --titulos: 'caligrafia2';
    --paragrafos: Arial, Verdana, sans-serif;
}

@media all and (min-width: 1010px) and (max-width: 1115px) {

    header .menu a{
        font: 100 2em var(--titulos);
    }

    main .primeiraimagem h1{   /*Esse é do site principal blog-pets  -  HOME*/
        left: 60px;
        top: 200px;
    }
    main .primeiraimagem #home h1{ 
        left: 60px;
        top: 350px;
    }

    main .primeiraimagem #nome{ /*Esse é dos proximos blogs  -  NOME PRINCIPAL*/
        left: 60px;
        top: 200px;
    }
    main .primeiraimagem #opc1 h2{ /*Esse é dos proximos blogs  -  HOME*/
        left: 60px;
        top: 350px;
    }
    main .primeiraimagem #opc2 h2{ /*Esse é dos proximos blogs   - BLOGS*/
        left: 150px;
        top: 350px;
    }
}
@media all and (min-width: 990px) and (max-width: 1009px) { 

    header .menu a{
        font: 100 2em var(--titulos);
    }

    main .primeiraimagem h1{
        left: 20px;
        top: 200px;
    }
    main .primeiraimagem #home h1{ /*Esse é do site principal blog-pets  -  HOME*/
        left: 60px;
        top: 330px;
    }

    main .primeiraimagem #nome{ /*Esse é dos proximos blogs  -  NOME PRINCIPAL*/
        left: 60px;
        top: 200px;
    }
    main .primeiraimagem #opc1 h2{ /*Esse é dos proximos blogs  -  HOME*/
        left: 50px;
        top: 350px;
    }
    main .primeiraimagem #opc2 h2{ /*Esse é dos proximos blogs   - BLOGS*/
        left: 140px;
        top: 350px;
    }
}

@media all and (min-width: 960px) and (max-width: 989px) {

    header #logo img{
        width: 85px; height: 85px;
    }
    header .menu a{
        font: 100 2em var(--titulos);
        text-decoration: underline;
        margin-top: 35px;
        margin-right: 5px;
    }
    header .sociais img{
        width: 30px; height: 30px;
        margin-top: 30px;
    }

    main .primeiraimagem h1{ /*Esse é do site principal blog-pets  -  HOME*/
        left: 20px;
        top: 200px;
    }
    main .primeiraimagem #home h1{ 
        left: 60px;
        top: 330px;
    }
    
    main .primeiraimagem #nome{ /*Esse é dos proximos blogs  -  NOME PRINCIPAL*/
        left: 20px;
        top: 160px;
    }
    main .primeiraimagem #opc1 h2{ /*Esse é dos proximos blogs  -  HOME*/
        left: 20px;
        top: 320px;
    }
    main .primeiraimagem #opc2 h2{ /*Esse é dos proximos blogs   - BLOGS*/
        left: 110px;
        top: 320px;
    }
}

@media all and (min-width: 800px) and (max-width: 989px) { /*para tablets grandes*/

    body{
        overflow-x: hidden;
    }
    header #logo img{
        width: 85px; height: 85px;
    }
    header .menu a{
        font: 100 2em var(--titulos);
        text-decoration: underline;
        margin-top: 35px;
        margin-right: 5px;
    }
    header .sociais img{
        width: 30px; height: 30px;
        margin-top: 30px;
    }

    main .primeiraimagem h1{  /*Esse é do site principal blog-pets  -  HOME*/
        left: 20px;
        top: 170px;
        font-size: 2.8em;
    }
    main .primeiraimagem #home h1{ 
        left: 20px;
        top: 290px;
        font-size: 2.8em;
    }
    
    main .primeiraimagem #nome{ /*Esse é dos proximos blogs  -  NOME PRINCIPAL*/
        left: 20px;
        top: 170px;
        font-size: 2.5em;
    }
    main .primeiraimagem #opc1 h2{ /*Esse é dos proximos blogs  -  HOME*/
        left: 20px;
        top: 290px;
    }
    main .primeiraimagem #opc2 h2{ /*Esse é dos proximos blogs   - BLOGS*/
        left: 110px;
        top: 290px;
    }

    main #texto{          /*Esse é do site principal blog-pets (FIXO)*/
        box-sizing: border-box;
        width: 100%;
        margin: 0%;
        margin: 5px;
        margin-bottom: 20px;
    }
    main #foto{
        width: 100%; height: 200px;
    }
    main p{
        padding: 0%;
        width: 100%;
        margin: 15px 0px;
    }

    aside #contatos #logo img{
        display: none;
    }
    aside #contatos .sociais{
        padding: 0%;
        padding-top: 5%;
        width: 15%;
        text-align: center;
    }
    aside #contatos .sociais img{
        width: 30px; height: 30px;
    }

    .scroll-top {
        right: 10px;
    }

}

@media all and (min-width: 530px) and (max-width: 799px) { /*para tablets pqnos*/

    body{
        overflow-x: hidden;
    }

    header #principal{
        display: flex;
        justify-content: space-between;
    }
    header #logo img{
        width: 95px; height: 95px;
    }
    header .menu{
        display: none;
    }
    header .sociais img{
        display: none;
    }
    
    header #menuResponsivo{
        display: block;
    }
    header #menuResponsivo img{
        width: 30px; height: 30px;
        cursor: pointer;
        margin-top: 35px;
        margin-right: 20px;
    }
    header #menuResponsivo #menu{
        display: none;
    }
    header #menuResponsivo:hover #menu{
        display: block;
        position: absolute;

        background-color: #025B18;
        height: 115px; width: 110px;
        margin-top: 0%;
        margin-left: -10%;
        text-align: center;
    }
    #menu a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-top: 8px;
        font: 100 0.9em var(--paragrafos);
        color: white;
    }
    #menu a:hover{
        text-decoration: underline;
    }

    main .primeiraimagemNONE{
        display: none;
    }

    main .blogTextos{                  /*Esse é do site principal blog-pets (FIXO)*/
        display: inline-block;
    
        box-sizing: content-box;
        width: 98%;
    }
    main #texto{      
        box-sizing: border-box;
        width: 100%;
        margin: 0%;
        margin-bottom: 20px;
    }
    main p{
        padding: 0%;
        width: 100%;
        margin: 15px 0px;
    }

    main #textos{                 /*Esse é dos proximos blogs (FIXO)*/    
        box-sizing: content-box;
        width: 99.5%;
    }
    main #textos p{
        width: 91.6%;
    }

    aside #contatos #logo img{
        display: none;
    }
    aside #contatos .unidades div{
        padding: 10px 10px;
    }
    aside h2{
        font: 100 1.9em var(--titulos);
    }
    aside #contatos .unidades p{
        width: 100%;
        padding: 5px 10px;
    }
    aside #contatos .sociais{
        padding: 0%;
        padding-top: 8%;
        width: 15%;
        text-align: center;
    }
    aside #contatos .sociais h1{
        display: none;
    }
    aside #contatos .sociais img{
        width: 30px; height: 30px;
    }

}

@media all and (min-width: 450px ) and (max-width: 529px) { /*para celular*/

    body{
        overflow-x: hidden;
    }

    header #principal{
        display: flex;
        justify-content: space-between;
    }
    header #logo img{
        width: 70px; height: 70px;
    }
    header .menu{
        display: none;
    }
    header .sociais img{
        display: none;
    }
    header #menuResponsivo{
        display: block;
    }
    header #menuResponsivo img{
        width: 30px; height: 30px;
        cursor: pointer;
        margin-top: 25px;
        margin-right: 30px;
    }
    header #menuResponsivo #menu{
        display: none;
    }
    header #menuResponsivo:hover #menu{
        display: block;
        position: absolute;

        background-color: #025B18;
        height: 115px; width: 110px;
        margin-top: 0%;
        margin-left: -12%;
        text-align: center;
    }
    #menu a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding-top: 8px;
        font: 100 0.9em var(--paragrafos);
        color: white;
    }
    #menu a:hover{
        text-decoration: underline;
    }

    /*main{
        padding: 50px 0px;
        background-color: #98F5AF;
    }*/
    main .primeiraimagemNONE{
        display: none;
    }
    main .blogTextos{                  /*Esse é do site principal blog-pets (FIXO)*/
        display: inline-block;
    
        box-sizing: content-box;
        width: 98%;
    }
    main #texto{      
        box-sizing: border-box;
        width: 100%;
        margin: 0%;
        margin-bottom: 20px;
    }
    main #foto{
        width: 100%;
    }
    main p{
        padding: 0%;
        width: 100%;
        margin: 15px 0px;
    }

    main #textos{                 /*Esse é dos proximos blogs (FIXO)*/    
        box-sizing: content-box;
        width: 99.5%;
    }
    main #textos p{
        width: 90.5%;
    }

    aside #contatos{
        margin: 10px;
        width: 95%;
        padding: 50px 0px;
    }
    aside #contatos .unidades{
        display: inline;
        text-align: center;

        box-sizing: border-box;
        width: 100%;   /*alinhar a div de dentro*/
        padding: 0%;
    } 
    aside #contatos #logo img{
        display: none;
    }
       
    aside #contatos .unidades div{
        margin: 0%;
        padding: 0%;
        padding-top: 15px;
    }   
    aside #contatos .unidades img{
        width: 20px; height: 20px;
    }
    aside #contatos .unidades h2{
        text-align: center;
        padding-top: 0px;
        margin-bottom: 5px;
    }

    aside #contatos .sociais{
        display: none;
    }

    /*aside .scroll-top{
        display: none;
        margin-right: 5px;

    }
    .scroll-top img{
        width: 40px;
    }*/
}

@media all and (min-width: 320px ) and (max-width: 449px) { /*para celular menores*/

    body{
        overflow-x: hidden;
    }

    header #principal{
        display: flex;
        justify-content: space-between;
    }
    header #logo img{
        width: 70px; height: 70px;
    }
    header .menu{
        display: none;
    }
    header .sociais img{
        display: none;
    }
    header #menuResponsivo{
        display: block;
    }
    header #menuResponsivo img{
        width: 30px; height: 30px;
        cursor: pointer;
        margin-top: 25px;
        margin-right: 20px;
    }
    header #menuResponsivo #menu{
        /*esta no menoresPrincipal*/
    }
    header #menuResponsivo:hover #menu{
        height: 125px; width: 115px;
        margin-left: -25%;
    }

    main .primeiraimagemNONE{
        display: none;
    }
    main .blogTextos{                  /*Esse é do site principal blog-pets (FIXO)*/
        display: inline-block;
    
        box-sizing: content-box;
        width: 98%;
    }
    main #texto{      
        box-sizing: border-box;
        width: 100%;
        margin: 0%;
        margin-bottom: 20px;
    }
    main #foto{
        width: 100%; height: 180px;
    }
    main p{
        padding: 0%;
        width: 100%;
        margin: 15px 0px;
    }

    main #textos{                 /*Esse é dos proximos blogs (FIXO)*/    
        box-sizing: content-box;
        width: 99.5%;
    }
    main #textos img{
        width: 100%; 
    }
    main #textos p{
        width: 88%;
    }

    aside #contatos{
        margin: 10px;
        width: 95%;
    }
    aside #contatos .unidades{
        display: inline;
        text-align: center;

        box-sizing: border-box;
        width: 100%;   /*alinhar a div de dentro*/
        padding: 0%;
    } 
    aside #contatos #logo img{
        display: none;
    }
       
    aside #contatos .unidades div{
        margin: 0%;
        padding: 0%;
        padding-top: 15px;
    }   
    aside #contatos .unidades img{
        width: 20px; height: 20px;
    }
    aside #contatos .unidades h2{
        text-align: center;
        padding-top: 0px;
        margin-bottom: 5px;
    }

    aside #contatos .sociais{
        display: none;
    }

    /*aside .scroll-top{
        display: none;
        margin-right: 5px;

    }
    .scroll-top img{
        width: 40px;
    }*/
}